@import "_settings"

@media (max-width: 900px)
  .algolia-autocomplete
    position: fixed!important
    
/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu
  width: 500px

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header
  color: gray
  border-bottom: 1px solid darkgray
  line-height: 1.5

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column
  color: gray

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title 
  font-weight: bold
  color: black

/* Description description (eg. Bootstrap currently works...) */
.algolia-autocomplete .algolia-docsearch-suggestion--text 
  font-size: 0.8rem
  color: gray

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight 
  color: blue